.stopwatch__control {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

@media only screen and (max-width: 28.125em) {
  .stopwatch__control {
    flex-direction: column;
  }
}

.stopwatch__control button {
  background-color: var(--color-black-dark);
  border-radius: 3rem;
  padding: 1rem 1.6rem;
  min-width: 10rem;
}
