:root {
  --color-black-dark: #0a0a0b;
  --color-black-light: #151618;
  --color-text-primary: #fffaf0;
  --color-text-secondary: #ffd277;

  --max-width: 114rem; /* 1140px */

  --border-radius: 3rem;
  --padding: 1rem 1.8rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px */ /* 10px = 1rem */
  color: var(--color-text-primary);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@media only screen and (min-width: 119.9875em) {
  html {
    font-size: 75%; /*1rem = 12px*/
  }
}

@media only screen and (max-width: 74.9875em) {
  html {
    font-size: 56.25%; /*1rem = 9px */
  }
}

body {
  width: 100%;
  min-height: 100vh;

  background-color: var(--color-black-dark);

  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-text-primary);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input,
button {
  background: none;
  border: 0;
  outline: 0;
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h5 {
  font-size: 1.7rem;
  color: var(--color-text-secondary);
  margin-bottom: 0.8rem;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-weight: 400;
  color: var(--color-text-secondary);
}

.active {
  display: block;
}

.disable {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.loader {
  position: absolute;
  top: 40%;
  left: 43%;
  transform: translate(-50%, -50%);
  border: 0.8rem solid var(--color-text-primary);
  border-radius: 50%;
  border-top: 0.8rem solid var(--color-text-secondary);
  width: 7rem;
  height: 7rem;
  animation: spin 2s linear infinite;
  z-index: 10000; /* on top of everything */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fade-enter {
  opacity: 0;
  transform: scale(0.5);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: all 0.2s ease-in-out;
}

.slide-enter {
  opacity: 0;
  transform: translateX(-50%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(20%);

  transition: all 0.2s ease-in;
}

.slide-exit {
  opacity: 1;
  transform: translateX(20%);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.2s ease-in;
}
